# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Environments
.pytest_cache/
.venv/
venv/
ENV/
env/

# PyInstaller / Executable Builds
build/
dist/
*.spec

# Confidential SAST Scan Reports
Laporan_SAST_SDET.html
Laporan_SAST_Snyk.html

# System Files
.DS_Store
Thumbs.db